{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a class="offset-2 col-8 text-center oi oi-aperture icon-form"></a>

        {% if editMode %}
            <h2>Modification d'un trick</h2>
        {% else %}
            <h2>Création d'un trick</h2>
        {% endif %}
        <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog"
             aria-labelledby="createGroupLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createGroupLabel">Nouveau Groupe de figure</h5>
                        <button type="button" class="btn " data-dismiss="modal">&times</button>
                    </div>
                    {{ form_start(formGroup, {'action': path('group_create')}) }}
                    <div class="modal-body">
                        {{ form_row(formGroup.title,{'attr':{'placeholder':"Type de figures",'required':'none'}}) }}
                        {{ form_row(formGroup.description,{'attr':{'placeholder':"Description du groupe de figure"}}) }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer">
                    </div>
                    {{ form_end(formGroup) }}
                </div>
            </div>
        </div>
        <div class="offset-1 col-10 text-center">
            {{ form_start(formTrick) }}
            <div class="row">
                <div class="col-10">
                    {{ form_row(formTrick.groupName,{'attr':{'placeholder':"Type de figures",'required':'none'}}) }}
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-success" role="button" data-toggle="modal"
                       data-target="#createGroupModal"> Créer un nouveau groupe
                    </a>
                </div>
            </div>
            {{ form_row(formTrick.name,{'label':"Nom du trick",'attr':{'placeholder':"Nom du trick"}}) }}
            <div id="descriptionTextArea">
            {{ form_row(formTrick.description) }}
            </div>
            <button class="btn btn-outline-success ">
                {% if editMode %}
                    Modifier le trick
                {% else %}
                    Créer le trick
                {% endif %}
            </button>

            {{ form_end(formTrick) }}
        </div>
    </div>
{% endblock %}

    {% block title %}
        {% if editMode %}
        Modification d'un trick
        {% else %}
        Création d'un trick
        {% endif %}
    {% endblock %}

{% block javascripts%}
<script>
    tinymce.init({
        selector: 'textarea.tinymce',
    });
</script>
{% endblock %}

