{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="offset-2 col-8">
            {{ form_start(formTrick) }}

            {{ form_row(formTrick.name,{'label':"Nom du trick",'attr':{'placeholder':"Nom du trick"}}) }}
            {{ form_row(formTrick.description,{'label':"Description du trick",'attr':{'placeholder':"Description du trick"}}) }}
            <div class="row">
                <div class="col-8">
                    {{ form_row(formTrick.groupName) }}
                </div>
                <button type="button" class="btn btn-primary col-4" data-toggle="modal" data-target="#createGroupModal">
                    Créer un groupe de trick
                </button>
            </div>
            <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createGroupLabel">Nouveau Groupe de figure</h5>
                        </div>
                        <div class="modal-body">
                            {{ form_start(formGroup) }}
                            {{ form_row(formGroup.title,{'attr':{'placeholder':"Type de figures"}}) }}
                            {{ form_row(formGroup.description,{'attr':{'placeholder':"Description de la figure"}}) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                        {{ form_end(formGroup) }}
                    </div>
                </div>
            </div>
            {{ form_row(formTrick.image, {'label':"Nom d'utilisateur",'attr':{'placeholder':"upload image"}}) }}
            {{ form_row(formTrick.video,{'label':"Nom d'utilisateur",'attr':{'placeholder':"upload video"}}) }}

            <button type="submit" class="btn btn-primary">S'inscrire</button>

            {{ form_end(formTrick) }}
        </div>
    </div>
{% endblock %}

        {% block title %}
            Création d'un trick
        {% endblock %}

