{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        <img src="http://placehold.it/1000x350" alt="" class="card-img-top">

            {% if app.user %}
                <div id="updateTrick" class="btn btn-secondary disabled">
                    <a href="{{ path('trick_edit',{
                        'group_slug':trick.groupName.slug,
                        'id':trick.id,
                        'trick_slug':trick.slug
                    }) }}" class="col-3">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <a href="{{ path('deleteConf_trick',{
                        'group_slug':trick.groupName.slug,
                        'id':trick.id,
                        'trick_slug':trick.slug
                    }) }}" class="col-3">
                        <span class="oi oi-delete"></span>
                    </a>
                </div>
            {% endif %}
            </img>
            <div class="container">
            {% if question %}
                <h3 class="offset-2 col-9">Êtes-vous sûr de vouloir supprimer cette article ???</h3>
                <div class="row">
                <div class="offset-4 ">
                    <a href="{{ path('delete_trick',{'id':trick.id}) }}" class="btn btn-danger">oui !</a>
                </div>
                <div class="offset-1 ">
                    <a href="{{ path('home') }}" class="btn btn-secondary">non !</a>
                </div>
                </div>
            {% endif %}

            <h2 class="card-title">{{ trick.name }}</h2>
            <div id="cardGroup" class="card-title">{{ trick.groupName.title }}</div>
            <div class="content card-text">
                {{ trick.description | raw }}
            </div>
            <div class="metadata card-footer">
                {{ trick.createdAt | date('d/m/Y') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

