{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if trick.images is empty %}
            <img id="img-top-trick" src="{{ asset('image/default-trick.jpg') }}" alt="image par défaut">
            <p class="p-default-img-show btn-secondary disabled text-center">Ceci est une image par défaut, aucune image
                n'a encore été ajoutée.
            </p>

        {% else %}
            {% for image in trick.images[0:1] %}
                <img id="img-top-trick" src="{{ image.url }}" alt="{{ image.fileName }}">
            {% endfor %}
        {% endif %}
        {% if app.user %}
            <div id="updateTrick" class="btn btn-secondary disabled">
                <a href="{{ path('trick_edit',{
                    'group_slug':trick.groupName.slug,
                    'id':trick.id,
                    'trick_slug':trick.slug
                }) }}" class="col-3">
                    <span class="oi oi-pencil"></span>
                </a>
                <button class="btn btn-secondary col-3" data-toggle="modal"
                        data-target="#deleteTrickConfModal">
                    <span class="oi oi-delete"></span>
                </button>
            </div>
            {% include 'modal/deleteTrickConfModal.html.twig' %}
        {% endif %}
        {% if trick.images is not empty or trick.videos is not empty %}
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div id="carouselImage" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in trick.images[0:] %}
                                <li data-target=".carouselImage" data-slide-to="{{ loop.index }}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in trick.images[0:] %}
                                <div class="carousel-item {% if  loop.index0 == 0 %} active {% endif %}">
                                    <img class="d-block w-100" src="{{ asset(image.url) }}"
                                         alt="image du trick {{ asset(trick.name) }} ">
                                </div>
                            {% endfor %}
                        </div>
                        {% if trick.images is not empty %}
                            <a class="carousel-control-prev" href="#carouselImage" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#carouselImage" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        {% endif %}
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for video in trick.videos[0:] %}
                                <li data-target=".carousel" data-slide-to="{{ loop.index }}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for video in trick.videos[0:] %}
                                <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                                    <iframe width="560" height="315" src="{{ video.iFrame }}"
                                            frameborder="0"
                                            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        <div class="card">
            <h2 class="card-title">{{ trick.name }}</h2>
            <h3 id="cardGroup" class="card-title">
                Groupe de la figure : {{ trick.groupName.title }}
            </h3>
            <hr>
            <div class="card-text">
                {{ trick.description | raw }}
            </div>
            <div class="metadata card-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        {% if trick.updatedAt %}
                            Modifié le {{ trick.updatedAt | date('d/m/Y') }}
                        {% else %}
                            {{ trick.createdAt | date('d/m/Y') }}
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-8 text-right">
                        écrit par <strong>{{ trick.user.username }}</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="offset-1 col-10">
            <h2>Les commentaires</h2>
            <hr>
            {% if app.user %}
                {{ form_start(formComment, {'action': path('add_comment', {'slug':trick.slug})}) }}
                {{ form_row(formComment.content) }}
                <input type="submit"
                       class="btn btn-outline-success offset-xs-2 col-xs-8 offset-sm-4 col-sm-4 text-center"
                       value="Envoyer">
                {{ form_end(formComment) }}
            {% endif %}
            <hr>
            <div id="commentBlock">
                {% if trick.comments is empty %}
                    <h4>Il n'y a pas encore de commentaires sur ce trick, soyez le premier à en ajouter un
                        !!!</h4>
                {% endif %}
                {% if trick.comments is not empty %}
                    {% set offset = (page * 10) -10 %}
                    {% set limit = (page * 10) %}
                    {% set counter = trick.comments|length - 1 %}
                    {% set counterPage = counter / 10 %}
                    {% set counterPage = counterPage|round(0,'floor') %}
                    {% set counterPage = counterPage|number_format(0) + 1 %}
                    <ul class="pagination justify-content-center">
                        {% set i = 1 %}
                        {% for i in 1..counterPage %}
                            <li class="page-item {% if loop.index == page %} active disabled {% endif %}">
                                <a href="{{ path('trick_show',{
                                    'group_slug':trick.groupName.slug,
                                    'id':trick.id,
                                    'trick_slug':trick.slug,
                                    'page':i
                                }) }}#commentBlock" class="page-link">{{ i }}</a>
                            </li>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </ul>
                    {% for comment in trick.comments|reverse[offset:limit] %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-2">
                                <div class=" text-center">
                                    <a href="{{ path('user_show',{'id':comment.user.id}) }}">
                                        {{ comment.user.username }}
                                        {% if comment.user.image is null %}
                                            <img class="user-image" src="{{ asset('image/avatar.png') }}"
                                                 alt="photo d'utilisateur">
                                        {% else %}
                                            <img class="user-image" src="{{ comment.user.image.url }}"
                                                 alt="photo d'utilisateur">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-10">
                                <p>écrit le <strong>{{ comment.createdAt | date('d/m/Y') }}</strong></p>
                                <div class="comment-content">
                                    {{ comment.content }}
                                </div>
                                <div class="metadata">

                                    {% if app.user == comment.user %}
                                        <hr>
                                        <div class="text-center ">
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    data-target="#deleteCommentModal">
                                                Supprimer mon commentaire
                                            </button>
                                            {% include 'modal/deleteComment.html.twig' %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <ul class="pagination justify-content-center">
                        {% set i = 1 %}
                        {% for i in 1..counterPage %}
                            <li class="page-item {% if loop.index == page %} active disabled{% endif %}">
                                <a href="{{ path('trick_show',{
                                    'group_slug':trick.groupName.slug,
                                    'id':trick.id,
                                    'trick_slug':trick.slug,
                                    'page':i
                                }) }}#commentBlock" class="page-link">{{ i }}</a>
                            </li>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

    {% block title %}
        {{ trick.name }}
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}